@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body {
    font-family: 'Alkatra', cursive;
    overflow-x: hidden;
}


.fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.3rem;
    background-color: black;
    color: red;
    border-radius: 50%;
    z-index: 1;
}

.my-footer {
    background-color: black;
    color: white;
    position: relative;
    bottom: -29px;
    padding-top: 20px;
}

.fa-square-twitter {
    font-size: 2.4rem;
    color: white;
}

.fa-square-facebook {
    font-size: 2.4rem;
    color: white;
}

.fa-linkedin {
    font-size: 2.4rem;
    color: white;
}

